.secretRecoveryPhraseShowContainer {
  position: relative;
  margin: 100px auto;
  width: 85%;
  height: fit-content;
  z-index: 95;

  article {
    margin: 0 0 50px 0;
    width: 80%;

    h2 {
      font-size: 4rem;
      font-weight: 700;
    }

    h3 {
      font-size: 2rem;
      margin: 25px 0;
    }

    .boldH3 {
      font-size: 2rem;
      font-weight: 500;
      margin: 25px 0;
    }

    p {
      margin: 15px 0;
      font-size: 22px;
      line-height: 40px;
      width: 100%;
    }
  }

  .phraseContainer {
    position: relative;
    margin: 0 0 75px 0;
    width: 70%;
    border-radius: 5px;

    @media (max-width: 980px) {
      width: 90%;
      margin: 0 auto 75px auto;
    }
    
    .phraseHider {
      display: flex;
      justify-content: center;
      position: absolute;
      background-color: var(--off-black-font-color);
      width: 100%;
      height: 100%;
      color: var(--off-white);
      text-align: center;
      z-index: 99;
      border-radius: 5px;
      
      div {
        display: block;
        margin: auto 0;
        height: fit-content;
        font-weight: 500;
        font-size: 1.2rem;
        // background-color: red;
      }
    }

    .phraseHider.hidden {
      background-color: transparent;
      color: transparent;
      z-index: 94;
    }

    .phrase {
      position: relative;
      font-size: 35px;
      z-index: 95;
      line-height: 45px;
    }
  }

  a {
    display: block;
    background-color: var(--candy-red);
    font-size: 20px;
    line-height: 30px;
    color: white;
    width: 40%;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;

    @media (max-width: 980px) {
      width: 90%;
    }
  }

  .confirmBtn {
    
    &:hover {
      cursor: pointer;
    }
  }

  .recoveryError {
    color: var(--off-black-font-color);
    text-align: justify;
  }
}