.userDashboardContainer {
  // width: 900px;

  .logout {
    position: relative;
    background-color: red;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}